@use 'shared' as *;

.layout {
    min-height: 100vh;

    #main {
        padding: $space-m $space-l;
        background: var(--color-surface);
    }

    #content {
        max-width: 1200px;
        margin: 0 auto;
    }

}