/* Light Theme */
:root {
  --color-bg: #f9f8f6;
  --color-surface: #ffffff;
  --color-surface-dark: #f0f2ed;
  --color-text: #1e1e1e;
  --color-text-muted: #555;
  --color-primary: #276749;
  --color-secondary: #d6a33c;
  --color-accent: #8abf76;
  --color-border: #ddd;
  --color-error: #d24a4a;

  /* depth & motion */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
}