@use 'shared' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;

    height: 56px;

    background: var(--color-surface);
    border-bottom: 3px solid var(--color-primary);

    font-size: $font-l;
    font-weight: 700;
    color: var(--color-primary);

    &__content {
        display: flex;
        align-items: center;
        gap: $space-l;

        max-width: 1200px;
        padding: 0 $space-l;
    }
}

.logo {
    font-size: $font-l;
    font-weight: 700;
    color: var(--color-secondary);

    &_full {
        display: none;

        @media (min-width: 480px) {
            display: inline;
        }
    }

    &_short {
        display: inline;

        @media (min-width: 480px) {
            display: none;
        }
    }
}