@use 'shared' as *;

.details {

    &__card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media (min-width: 768px) {
            grid-template-columns: 300px 1fr;
        }
    }

    &__cover {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__year {
        font-size: $font-xs;
        color: var(--color-text-muted);
    }

    &__list {
        gap: 0.5rem;
        padding: 0;
        list-style: none;

        &_tag {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__label {
        font-weight: bold;
        color: var(--color-secondary);

        display: inline-block;
    }


    &__tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-primary);
        color: var(--color-surface);

        font-size: .75rem;
        font-weight: 600;

        padding: $space-xxs $space-s;

        border-radius: 12px;
    }

    &__text {
        @include em-heading(3);
        text-align: center;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: $space-m $space-l;
    }
}