@use 'shared' as *;

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    max-width: 400px;
    min-height: 100%;

    border: 1px solid var(--color-border);
    border-radius: 8px;

    box-shadow: var(--shadow-sm);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: var(--shadow-lg);
    }

    &__cover {
        width: 100%;
        height: 200px;
        max-height: 200px;

        object-fit: cover;

        border-radius: 4px 4px 0 0;
    }

    &__content {
        display: flex;
        flex-direction: column;

        padding: $space-xs $space-m $space-m $space-m;
    }
}